
    <div class="user-access-form-div-outer">
        <div class="">
          <form action="/login" class="user-access-form p-3" method="post">
            <legend class="text-center ">Login</legend>
            <div class="input-group mb-3 px-4">
                <span class="input-group-text">
                    Email
                </span>
                <input type="email"class="form-control" placeholder="enter your email" name="email">
            </div>
            <div class="input-group mb-3 px-4">
                <span class="input-group-text">
                    Password
                </span>
                <input type="password"class="form-control" placeholder="enter your password" name="password">
            </div>
            <div class="text-center">
              <button class="btn bg-pink" type="submit"> Login</button>
            </div>
        </form>
        </div>
    
      </div>    
