
<div class="user-access-form-div-outer lw">
    <div class="">
      <form action="/postjob" class="user-access-form p-3" method="post">
        <legend class="text-center ">Post a new Job</legend>
        <div class="input-group mb-3 px-4">
            <select name="job_category" id="" class="form-select text-secondary">
                <option value="" disabled selected>select job category</option>
                <option value="tech">Tech</option>
                <option value="non_tech">Non Tech</option>

            </select>
        </div>
        <div class="input-group mb-3 px-4">
            <select name="designation" id="" class="form-select text-secondary">
                <option value="" disabled selected>select job designation</option>
                <option value="HR">HR</option>
                <option value="SDE">SDE</option>
                <option value="DEVOPS">DEVOPS</option>
                <option value="MERN DEVELOPER">MERN DEVELOPER</option>
                <option value="MEAN DEVELOPER">MEAN DEVELOPER</option>
                <option value="JAVA DEVELOPER">JAVA DEVELOPER</option>
                <option value="FRONT-END DEVELOPER">FRONT-END DEVELOPER</option>
                <option value="BACK-END DEVELOPER">BACK-END DEVELOPER</option>
                <option value="FULL-STACK DEVELOPER">FULL-STACK DEVELOPER</option>
                
            </select>
        </div>
        
        <div class="mb-3 px-4">
            <label for="joblocation" class="form-label">Enter job location</label>
            <input type="text"class="form-control"  name="job_location" id="joblocation">
        </div>
        <div class="input-group mb-3 px-4">
            <span class="input-group-text">Company name</span>
            <input type="text" class="form-control" name="c_name">
        </div>
        <div class="input-group mb-3 px-4">
            <input type="text" class="form-control" name="salary" placeholder="enter salary">
            <span class="input-group-text">Total Positions</span>
            <input type="number" class="form-control" name="total_positions" placeholder="total no of openings">
        </div>
        <div class="input-group mb-3 px-4">
            <select name="skills" multiple id="">
                <option value="" selected disabled>select skills required for the job</option>
                <option value="React">React</option>
                <option value="NodeJs">NodeJs</option>
                <option value="Angular">Angular</option>
                <option value="MongoDB">MongoDB</option>
                <option value="SQL">SQL</option>
                <option value="Express">Express</option>
                <option value="Java">Java</option>
                <option value="c++">c++</option>
                <option value="Spring Boot">Spiring Boot</option>
                <option value="DSA">DSA</option>

            </select>
            <span class="input-group-text">Apply By</span>
            <input type="date" class="form-control" name="apply_by_date">
        </div>
        <div class="d-grid px-4 mt-3">
          <button class="btn btn-success" type="submit"> Submit</button>
        </div>
    </form>
    </div>

  </div>    
<script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
></script>

<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"
></script>
